{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有信息展示-首页</title>
<!--    设置标签图标-->
   
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/data_text.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundation-datepicker.css' %}">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/photo.js' %}"></script>
    <script>
        $(document).ready(function function_name() {
            changeImg()
        })
    </script>
</head>
<body>

<!--头部-->
<!--header开始-->
<div class="header">
    <div class="header_logo fl">
    </div>
    <div class="header_nav fl">
        <ul>
            <li>
                <img src="{% static 'images/nav_1.png' %}">
                <a  href="{% url 'main_page' %}">数据概览</a>
            </li>
            <li>
                <img src="{% static 'images/nav_2.png' %}" >
                <a class="nav_current">地质公园和景点</a>
                <ul>
                    <li>
                        <a href="{% url 'manage_page' %}">地质公园管理页面</a>


                    </li>
                    <li>
                        <a href="{% url 'all_page' %}">景点管理</a>

                    </li>
                </ul>

            </li>
            <li>
                <img src="{% static 'images/nav_3.png' %}" >
                <a >科普知识和教育</a>
                <ul>
                    <li>
                        <a>地质知识</a>

                    </li>
                    <li>
                        <a >生物多样性知识</a>

                    </li>
                </ul>
            </li>
            <li>
                <img src="{% static 'images/nav_4.png' %}">
                <a>游客服务</a>
                <ul>
                    <li>
                        <a >景区购票</a>

                    </li>
                    <li>
                        <a >景区交通</a>

                    </li>
                    <li>
                        <a >酒店信息</a>

                    </li>
                    <li>
                        <a>景区餐饮</a>

                    </li>
                </ul>
            </li>
            <li>
                <img src="{% static 'images/nav_5.png' %}" >
                <a>多媒体资源</a>
                <ul>
                    <li><a>精美图片</a></li>
                    <li><a >精选视频</a></li>
                    <li><a >地图下载</a></li>
                </ul>
            </li>
            <li>
                <img src="{% static 'images/nav_6.png' %}" >
                <a>地质价值</a>
            </li>
            <li>
                <img src="{% static 'images/nav_7.png' %}" >
                <a >查询统计</a>
            </li>

            <li>
                <img src="{% static 'images/nav_9.png' %}">
                <a >设置</a>
                <ul>
                    <li>
                        <a >平台管理</a>
                        
                    </li>
                    <li>
                        <a >设备管理</a>
                        
                    </li>
                    <li><a>系统设置</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="header_myself fr">
        <p>用户：管理员</p>
        <a  data-toggle="modal" data-target=".bs-example-modal-sm">注销 &nbsp;<span class="caret"></span></a>
    </div>
</div>
<!--header结束-->
      <!-- 中部搜索-->
      <div class="header_center">
        <!--        中部左边logo-->
        
                </div>
                <div class="h_c_search">
                    <form action="#">
                        <input type="text" placeholder="请输入..." class="t_input">
                        <input type="submit" class="t_button" value="搜索">
                    </form>
                </div>
        

<!--banner-->
<div id="ad" style="text-align: center;">
    <ul id="ad_img" >
        <li><img src="{% static 'images/010.jpg' %}" width="1100" height="600" /></li>
        <li><img src="{% static 'images/007.jpg' %}" width="1100" height="600" /></li>
        <li><img src="{% static 'images/011.jpg' %}" width="1100" height="600" /></li>
        <li><img src="{% static 'images/002.jpg' %}" width="1100" height="600" /></li>
        <li><img src="{% static 'images/006.jpg' %}" width="1100" height="600" /></li>
    </ul>

    <ul id="ad_num">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <!--<li>6</li>-->
    </ul>
</div>


<!--精选图片-->
<div id="ms">
    <div class="ms_top">
        <span>全国世界地质公园一览</span>
        <span></span>
    </div>
    <div class="ms_body">
        <div class="ms_body_left">
            <ul>

                <li>
                    <a >
                        <img src="{% static 'images/001.jpg' %}" alt="">
                        <p class="name">阿尔山世界地质公园</p>
                       
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/002.jpg' %}" alt="">
                        <p class="name">可可托海世界地质公园</p>
                      
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/003.jpg' %}" alt="">
                        <p class="name">昆仑山世界地质公园</p>
                        
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/004.jpg' %}" alt="">
                        <p class="name">阿拉善沙漠世界地质公园</p>
                        
                    </a>
                </li>

                <li>
                    <a href="">
                        <img src="{% static 'images/005.jpg' %}" alt="">
                        <p class="name">克什克腾世界地质公园</p>
                        
                    </a>
                </li>
            </ul>
        </div>
        <div class="ms_body_center">
            <ul>
                <li>
                    <a href="">
                        <img src="{% static 'images/006.jpg' %}" alt="">
                        <p class="name">敦煌世界地质公园</p>
                       

                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/007.jpg' %}" alt="">
                        <p class="name">五大连池世界地质公园</p>
                        
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/008.jpg' %}" alt="">
                        <p class="name">镜泊湖世界地质公园</p>
                        
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/009.jpg' %}" alt="">
                        <p class="name">房山世界地质公园</p>
                        
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/010.jpg' %}" alt="">
                        <p class="name">延庆世界地质公园</p>
                        
                    </a>
                </li>
            </ul>
        </div>
        <div class="ms_body_right">
            <ul>
                <li>
                    <a href="">
                        <img src="{% static 'images/011.jpg' %}" alt="">
                        <p class="name">泰山世界地质公园</p>
                        
                    </a>



                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/012.jpg' %}" alt="">
                        <p class="name">云台山世界地质公园</p>
                       
                    </a>

                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/013.jpg' %}" alt="">
                        <p class="name">嵩山世界地质公园</p>
                        
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/014.jpg' %}" alt="">
                        <p class="name">王屋山-黛眉山世界地质公园</p>
                        
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/015.jpg' %}" alt="">
                        <p class="name">伏牛山世界地质公园</p>
                        
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>

<!--翻页按钮-->
<div class="page-icon">
    <span class="page-disabled"><i></i>上一页</span>
    <span class="page-current">1</span>
    <a href="{% url 'all2_page' %}">2</a>
    <a href="{% url 'all3_page' %}">3</a>
    
    <a class="page-next" href="{% url 'all2_page' %}">下一页<i></i></a>
</div>
<!--注销模态框  开始-->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">注销</h4>
          </div>
          <div class="modal-body">
              <p>确认退出该系统吗？</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary">确认</button>
          </div>
      </div>
  </div>
</div>
<!--注销模态框  结束-->
</body>

<script src="{% static 'js/jquery-2.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/echarts.min.js' %}"></script>
<script src="{% static 'js/echart.js' %}"></script>
<script src="{% static 'js/china.js' %}"></script>
<script src="{% static 'js/foundation-datepicker.js' %}"></script>
<script src="{% static 'js/foundation-datepicker.zh-CN.js' %}"></script>
<script>
    $('#demo-1').fdatepicker();

    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
    var checkin = $('#dpd1').fdatepicker({
        onRender: function (date) {
            return date.valueOf() < now.valueOf() ? 'disabled' : '';
        }
    }).on('changeDate', function (ev) {
        if (ev.date.valueOf() > checkout.date.valueOf()) {
            var newDate = new Date(ev.date)
            newDate.setDate(newDate.getDate() + 1);
            checkout.update(newDate);
        }
        checkin.hide();
        $('#dpd2')[0].focus();
    }).data('datepicker');
    var checkout = $('#dpd2').fdatepicker({
        onRender: function (date) {
            return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
        }
    }).on('changeDate', function (ev) {
        checkout.hide();
    }).data('datepicker');
</script>

</html>

