{% load static %}

<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>删除</title>
    <link rel="stylesheet" href="{% static 'css/add.css' %}">

</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <form method="post" action="/accounts/todelete/">
        {% csrf_token %}
        <div id="background" >
            <div id="dl">
                <div class="text">删除地质公园</div>
                <br>
                <div class="text">  公园名称：<input class="input"  type="text" name="name" required></input></div>
                <br>
                <div class="text">  管理员密码：<input class="input"  type="text" name="password" required></input></div>
                <br>
                <div class="text">  地点：<input class="input"  type="text" name="address"></input></div>
                <br>
                <div class="text">  编码：<input class="input"  type="text" name="node"></input></div>
                <br>
                <div class="text">  批次：<input class="input"  type="text" name="time"></input></div>
                <br>
               <div class="text">   保护对象：<input class="input"  type="text" name="proctect"></input></div>
                <br>
               <div class="text">   人文景观：<input class="input"  type="text" name="sence"></input></div>
                <br>
                <div class="but">
               <button type="submit" >提交</button>
                </div>
            </div>
        </div>
    </form>>
</body>

</html>