{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>查询结果</title>
    <link rel="stylesheet" href="{% static 'css/result.css' %}">
</head>
<body>
    <div id="result">
        <h2>查询信息显示</h2>
        <div class="tariffCards">
            <div class="name">
                <img src="" alt="name" height="74">
                <h3>地质遗迹名称：</h3>
                <h4 id="name">{{name}}</h4>
            </div>
            <div class="address">
                <img src="" alt="address" height="74">
                <h3>地点：</h3>
                <br>
                <h4 id="address">{{address}}</h4>
                <span>address</span>
            </div>
            <div class="node">
                <img src="" alt="node" height="74">
                <h3>编码：</h3>
                <h4 id="id">{{result.id}}</h4>
                <span>phone</span>
            </div>
            <div class="protect">
                <img src="" alt="protect" height="74">
                <h3>保护对象：</h3>
                <br>
                <h4 id="protect">{{protect}}</h4>
                <span>protect</span>
            </div>
            <div class="scene">
                <img src="" alt="scene" height="74">
                <h3>人文景观：</h3>
                <br>
                <h4 id="scene">{{scene}}</h4>
                <span>scene</span>
            </div>
        </div>
    </div>

    <!-- 其他页面内容 -->

    <script>
        // 在这里编写 JavaScript 代码
    </script>
</body>
</html>
